[Unit]
Description = Dispatch Service
[Service]
${component}=roboshop
Environment=AMQP_HOST=${component}-dev.adevlearn.shop
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=roboshop123
ExecStart=/app/${component}
SyslogIdentifier=${component}

[Install]
WantedBy=multi-${component}.target