[Unit]
Description=${component} Service

[Service]
${component}=root
WorkingDirectory=/app
Environment=CART_HOST=${component}-dev.adevlearn.shop
Environment=CART_PORT=8080
Environment=USER_HOST=${component}-dev.adevlearn.shop
Environment=USER_PORT=8080
Environment=AMQP_HOST=${component}-dev.adevlearn.shop
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=roboshop123

ExecStart=/usr/local/bin/uwsgi --ini ${component}.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=${component}

[Install]
WantedBy=multi-${component}.target