[Unit]
Description=${component} Service

[Service]
${component}=roboshop
Environment=CART_ENDPOINT=${component}-dev.adevlearn.shop:8080
Environment=DB_HOST=${component}-dev.adevlearn.shop
ExecStart=/bin/java -jar /app/${component}.jar
SyslogIdentifier=${component}

[Install]
WantedBy=multi-${component}.target
